.home-header {
    display: flex;
    flex-direction: row;
    height: 75px;
    background-color: antiquewhite;
    align-items: center;
    padding: 0 2rem;

    #header-logo {
        flex: 50%;
        display: flex;
        align-items: center;
        height: 100%;
    }

    #header-navigation {
        flex: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 1rem;

        #settings-button {
            height: 50px;
            width: 50px;
        }
    }
}

.circle-button {
    border-radius: 50%;
}