$main-background-color: #e4e9f7;

$main-color: #8c52ff;
$main-color--hover: #6431c9;
$light_main-color: #af88ff;

$sidebar-color: #ffffff;
$home-color: #ffffff;

$light_text-color: #fff;
$text-color: #333333;
$bright-text-color: #444444;

$border-color: #eeeeee;

$toggle-color: #ddd;